
.nav{
    margin-right:310px;
}

.dropdown-icons-cont{
    display: flex;
}

.home-icon{
    margin-left: 20px;
    margin-top:6px;
}
.send-icon{
    margin-left: 20px;
    margin-top:6px;
}
.add-box-icon{
    margin-left: 20px;
    margin-top:6px;
}

.explore-icon{
    margin-left: 20px;
    margin-top:6px;
}

.favorite-border-icon{
    margin-left: 20px;
    margin-top:6px;
}