@import url('http://fonts.cdnfonts.com/css/billabong');

.container{
    display: flex;
    width:900px;
    padding:20px;
    margin-right: 300px;
}

.right-box{
    height:380px;
    width:350px;
    background-color: #ffffff;
    border: 1px solid #D8D8D8;
    margin-top:40px;
    margin-left: 20px;
}

h1{
    text-align: center;
    padding-top: 20px;
    font-family: 'Billabong', sans-serif;
    font-size: 50px;
}

img.leftside-img{
    margin-top:-4px;
    height:630px;
}

.signIn-section{
    display: block;
    text-align: center;
}
input.input{
    border: 1px solid #D8D8D8;
    padding:5px;
    margin: 5px;
    width:258px;
    height:36px;
    font-size: 14px;
    background-color: #fafafa;
}

.signIn-button{
    margin-top: 4px;
    width:258px;
    height:36px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #0395F6;
    background-color: #0395F6;
    color: white;
}

.login-or-section{
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

hr.divide{
    width:100px;
    height: 0px;
    border:1px solid #D8D8D8;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.login-fb {
    color: #395185;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
}

.forgot-password{
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}

.signup-cont{
    justify-content: center;
    border:1px solid #D8D8D8;
    width:350px;
    margin-top: 50px;
    padding: 15px;
    font-size: 13px;
    background-color: #ffffff;

}

.download-section{
    margin-top: 15px;
    font-size: 13px;
}

.loginPage-option{
    margin-top: 15px;
}