.top-profile-cont{
    display: flex;
    width:900px;
    margin-left: 340px;
    margin-bottom: 70px;
}
.profile-info-cont{
    align-items: center;
    display: flex;
    margin-top: 30px;
    height:60px;
    margin-left: 100px;
    border-radius: 100px;
}

.top-profile-img{
    margin-left: 60px;
    margin-top:60px;
    object-fit: cover;

}

img.profile-pic-img{
    border-radius: 100px;
    object-fit: cover;
    border: 1px solid #000000;
}
.profile-username{
    margin-right: 20px;
    font-size: 27px;
    font-weight: lighter;
}

.follow-user{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    background-color: #FAFAFA;
    width:100px;
}

.icon-settings{
   display: none;
}

.status-cont{
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.post-count{
    margin-right: 35px;
}
.followers-count{
    margin-right: 35px;
}

.following-count{
    margin-right: 35px;
}

.user-desc-cont{
    width:300px;
    margin-left: 100px;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
}

.bio-text{
    text-align: left;
    margin-left: 100px;
}
.side-info-cont{
    display: block;
    align-items: center;
}

.top-section{
    display: flex;
}
.user-post-img{
    object-fit: cover;
    width:287px;
    height:287px;
}

.post-box{
    margin-top:20px;
    margin-left:-400px;
    display: flex;
}

.user-post-cont {
    display: flex;
    margin-left: 355px;
    width: 500px;
}

.ind-name{
    margin-right: 30px;
}

.bottom-profile-cont{
    border-top: 1px solid #D8D8D8;
    width: 700px;
    align-items: center;
    margin-left: 400px;
}

img.posts-frame{
    border: 1px solid #D8D8D8;
    margin-right: 20px;
    padding: 5px;
}