.comments{
    display: block;
    background-color: #ffffff;
}

.comment-cont{
    display: flex;
    padding-left: 10px;
    padding-top:10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.smiley-icon{
    margin-right: 10px;
    background-color: #ffffff;
}

.comment > input {
    font-size: 14px;
    border: none;
    outline: none;
    width: 200px;
    background-color:#ffffff;
}

.posted-comments-cont{
    display: flex;
    background-color: #ffffff;
}

.comment-posted{
    font-size: 13px;
    margin-top:13px;
    margin-left: 10px;
    background-color: #ffffff;
}
.post-comment{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    margin-left: 300px;
    background-color: #FAFAFA;
    background-color: #ffffff;
}

.post-comment:hover{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    color: #0c63e4;
    margin-left: 300px;
    background-color: #FAFAFA;
}