

.user-story-cont{
    margin-top: 20px;
    width: 650px;
    margin-left: 300px;
    padding-top:10px;
    padding-bottom:5px;
    border: 1px solid #D8D8D8;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 130px;
    border-radius: 3px;
    white-space:nowrap;
    display: block;
    background-color: #ffffff;
}
.user-story-profile-cont{
    display: flex;
    margin-bottom: 5px;
    padding:4px;

}

.username-cont{
    display:flex;
    margin-left: 20px;
}

.user-name{
    margin-right:34px;
    font-size: 11px;
    text-align: center;

}

.user-prof{
    border-radius: 100px;
    margin-left: 15px;
    border: 3px solid #F4911C;
}