
* {
}
.homePage{
    display: flex;
    background-color: #FAFAFA;

}
.side-cont{
    position: fixed;
    text-align: right;
    margin-left: 970px;
    margin-top: -6350px;
}

.suggestions-title{
    text-align: left;
    margin-left: 25px;
}
