
.post{
    background-color: #ffffff;
    border: 1px solid #D8D8D8;
    padding-top: 10px;
    padding-left:4px;
    padding-right:5px;
    width: 650px;
    margin-left: 300px;
    margin-top: 20px;
    border-radius: 3px;
    display: block;
    margin-bottom:20px;
}

.user-cont{
    font-size: 12px;
    display: flex;
    border-bottom: 1px solid #D8D8D8;
    width:645px;
    padding-left:7px;
}


p.user-n{
    margin-left: 10px;
    margin-top: 13px;
    font-size: 13px;
    font-weight:bold;
}

.more{
    float: right;
    margin-left:490px;
    margin-top:8px;
}


.post-img-cont{
    max-width: 650px;
}
img.post-img{
    width: 645px;
    padding-left:2px;
    padding-right:5px;
    padding-top:3px;
}

.desc-cont{
    display:flex;
    border-bottom: 1px solid #D8D8D8;
}

.icons-cont{
    display:flex;
}

.like-icon{
    margin-right:10px;
    margin-left:10px;
    margin-top:5px;
}

.like-icon:hover{
    opacity: 50%;
}
.comment-icon{
    margin-right:10px;
    margin-top:5px;
}
.comment-icon:hover{
    opacity: 50%;
}
.share-icon{
    margin-top:4px;
}

.share-icon:hover{
    opacity: 50%;
}

.save-icon{
    margin-left:510px;
    margin-top:5px;
}

.save-icon:hover{
    opacity: 50%;
}

.post-description{
    display:block;
}

.likes-amount{
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}

.desc-text{
    font-size: 13px;
    text-align: left;
    margin-left: 5px;
    margin-top:13px;

}

.feed{
    display: flex;
}

.delete-post{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    margin-left: -60px;
    background-color: #FAFAFA;
}

.delete-post:hover{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    color: #0c63e4;
    margin-left: -60px;
    background-color: #FAFAFA;
}



