

.user-story-cont{
    margin-top: 20px;
    width: 650px;
    margin-left: 300px;
    padding-top:5px;
    padding-bottom:0px;
    border: 1px solid #D8D8D8;
    height: 120px;
    border-radius: 3px;
    display: block;
    background-color: #ffffff;
}


.user-story-profile-cont{
    display: flex;
    padding:4px;
    white-space:nowrap;
    overflow-x: scroll;

}

.user-story-profile-cont::-webkit-scrollbar{
    display: none;
}

.username-cont{
    display:block;
    margin-left: 15px;
}

.user-name{
    margin-left: 13px;
    margin-right: 19px;
    font-size: 11px;
    text-align: left;

}

.user-prof{
margin-top:7px;
    margin-left: 10px;
    display: flex;
}