
.nav{
    margin-right:310px;
}

.dropdown-icons-cont{
    display: flex;
}

.home-icon{
    margin-left: 20px;
    margin-top:6px;
}
.send-icon{
    margin-left: 20px;
    margin-top:6px;
}
.add-box-icon{
    margin-left: 20px;
    margin-top:6px;
}

.explore-icon{
    margin-left: 20px;
    margin-top:6px;
}

.favorite-border-icon{
    margin-left: 20px;
    margin-right: 5px;
    margin-top:6px;
}

a{
    text-decoration: none;
    color: #000000;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}